@import "tailwindcss";

.jost {
  font-family: "Jost", sans-serif;
}

.shadowing {
  box-shadow: 0px 5px 22px 1px rgba(0, 0, 0, 0.51);
  /* -webkit-box-shadow: 0px 5px 22px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 22px 1px rgba(0, 0, 0, 0.51); */
}
